/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*MY CODE------------------------------------------------------------------------------------------*/

*{
    text-decoration:none;
}


/*INDEX--------------------------------------------------------------------------------------------*/


header {
    background-color:#FFF8FE;
    height:70px;


}




header .logo .logoimg{
    display:block;
    padding-right:40px;
    padding-left:20px;
    margin:20px 0;
    height:35px;
    float:left;
    text-align:left;
    border-right:3px solid #111;
    line-height:30px;
}

body{
    background-image: url("pink.gif");
    background-repeat: no-repeat;
    
  
    
    height:100%;
}

main {
    display:inline-block;
}

main .left{
    display:block;
    float:left;
    margin-left:-100px;

}

main .left h2{
    font-family:Oswald;
    text-align:left;
    color:white;
    font-size:80px;
    margin-top:200px;

    text-shadow: 2px 0.5px 8px #FFF6D6;


}

main .left h1{

    font-family:Oswald;
    text-align:left;
    color:white;
    font-size:40px;
    margin-top:50px;
    text-shadow: 2px 0.5px 8px #FFF6D6;
}


main .right{
    float:right;
    margin-top:200px;
    margin-left:300px;
}

main .right .logbox{
    background-color: rgba(255,255,255,70%);

    border-radius:50px;
    color:#1C1C1C;
    font-size:20px;
    font-weight:500;
    font-family:Oswald;
    text-align:center;
    width:250px;
    height:50px;
    line-height:35px;
    
    padding-top:15px;
    float:left;
    
    margin-right:25px;
    transition:0.25s;
}

main .right .signbox{
    background-color: rgba(255,255,255,70%);
    border-radius:50px;
    color:#1C1C1C;
    font-size:20px;
    font-weight:500;
    font-family:Oswald;
    text-align:center;
    width:250px;
    height:50px;
    line-height:35px;
    margin-top:30px;
    padding-top:18px;
    float:left;
   
    margin-right:25px;
    transition: 0.25s;
}

main .right .logbox:hover{
    background-color: rgba(255,255,255,90%);
    transform: scale(1.1);    
    text-align:center;
}

main .right .signbox:hover{
    background-color:rgba(255,255,255,90%);
    transform:scale(1.1);
    text-align:center;
}